{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="../static/dashglobals.css" />
    <link rel="stylesheet" href="../static/dashstyleguide.css" />
    <link rel="stylesheet" href="../static/dashstyle.css" /> -->
    <link rel="stylesheet" href="{% static '../static/dashglobals.css' %}" />
    <link rel="stylesheet" href="{% static '../static/dashstyleguide.css' %}" />
    <link rel="stylesheet" href="{% static '../static/dashstyle.css' %}" />
  </head>
  <body>
    <div class="frame">
      <div class="figma-design">
        <div class="root">
          <div class="overlap-group">
            <div class="background" style="background-color: #846a17"></div>
            <div class="image"></div>
            <img class="img" src="../static/image.png" />
            <img class="background-2" src="../static/background.png" />
            <div class="jacell-jamble-we">Jacell Jamble<br />Welcome Tier</div>
            <img class="image-2" src="../static/image-1.png" />
            <img class="image-3" src="../static/image-2.png" />
            <img class="image-4" src="../static/image-3.png" />
            <div class="text-wrapper">日</div>
            <img class="image-5" src="../static/image-4.png" />
          </div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="div"></div>
          <div class="groups hover">
            <img class="image-6" src="../static/image-15.png" />
            <div class="SAVED-ARTICLES">SAVED ARTICLES &amp; NEWS</div>
            <img class="image-7" src="../static/image-6.png" />
          </div>
          <div class="background-3"></div>
          <div class="groups-2 hover">
            <img class="image-8" src="../static/image-15.png" />
            <div class="text-wrapper-2">HELP CENTER</div>
            <img class="image-9" src="../static/image-8.png" />
          </div>
          <div class="background-4"></div>
          <a href="/Bookindex">
            <div class="groups-3 hover">
              <img class="image-10" src="../static/image-15.png" />
              <div class="MY-ADRESSES">BOOKINGS</div>
              <img class="image-11" src="../static/image-10.png" />
            </div>
          </a>
          <div class="background-5"></div>
          <div class="groups-4 hover">
            <img class="image-12" src="../static/image-15.png" />
            <div class="OTHER-PAYMENT-MO">REWARDS</div>
            <img class="image-13" src="../static/image-12.png" />
          </div>
          <div class="background-6"></div>
          <a href="/QR1index">
            QR1
            <div class="groups-5 hover">
              <img class="image-14" src="{% static 'image-13.png' %}" />
              <div class="STARBUCKS-PAY">PAY</div>
              <img class="image-15" src="{% static 'image-14.png' %}" />
            </div>
          </a>
          <div class="background-7"></div>
          <a href="/eventlist">
            <div class="groups-6 hover">
              <img class="image-16" src="../static/image-15.png" />
              <div class="text-wrapper-3">MY EVENTS</div>
              <img class="image-17" src="../static/image-16.png" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
