{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Input Form</title>
    <link rel="stylesheet" href="{% static 'QR1.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="form-heading">Waiting....</h1>
        <div class="button-borders">
            <a href="/QR2index"><button class="primary-button"> Service
            </button></a>
          </div>
        <img src="https://cdn-icons-png.flaticon.com/128/14021/14021433.png">
    </div>
</body>
</html>
